.accueil {

	background-color: $rose;

}
.accueil__title {
	display: flex;
	align-items: center;
	justify-content: space-around;

	height: 100%;

	font-family: 'Bungee Shade', cursive;
	color: $black;
	text-align: center;
	font-size: 7rem;
	line-height: 8rem;

	&:hover{
		color: white;
	}
}
.accueil__logo {
	height: 50%;
}
.accueil__logo img {
	width: 30%;
}
.accueil__img {
	width: 100vw;
	height: 100vw;

}
.accueil__scroll {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 50%;


	font-family: 'Permanent Marker', cursive;
	font-size: 4rem;

	
}
.accueil__scroll:hover{
		color: white;
	}



























