
header {
	display: flex;

	justify-content: space-around;
	align-items: center;
	height: 10vh;
	background-color: $white;
	font-size: 100px;
}
.header__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	height: 100%;
}
.header__logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
.header__logo img {
	width: 200%;
	height: auto;
}

.header__icon img {
	height: 40%;
}
.header__icon {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
	height: 100%;
	padding: 10px;
}
.header > p {
	flex-grow: 3;
	text-align: center;
	font-family: 'Bungee Shade';
	font-size: 5rem;
}
