
.header__mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: $white;
    font-size: 100px;
    p {
        flex-grow: 3;
        text-align: center;
        font-family: 'Bungee Shade';
        font-size:1.6rem;
    }
}
.mobile__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
	}

    img {
        width: 200%;
        height: auto;
    }
}
.mobile__icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    height: 100%;
    padding: 10px;
    img {
        height: 50%;
    }
}

.header__desktop {
    display: none;
    background-color: white;
    padding: 10px;
    @include medium {
        display: block;
    }
}

.desktop__menu {
    display: flex;
    justify-content: space-around;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    li{
        padding: 5px;
        &:hover a{
            background-color:$grey;
            color: $white;
        }
    }
}












