.menu {
	height: auto;
}

.menu__photo {
	position: relative;
	background-image: url(../img/shoes_jump.jpg);
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 50vh;
	
}
.menu__photo p {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 80%;
	text-align: justify;
	color: $white;
	font-size: 3vh;
	font-family: 'Dosis', sans-serif;

}
.menu__photo a {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
	font-size: 4vh;
	background-color: $white;
	padding: 10px;
	
}

.menu__photo a img {
	height: 5vw;
}
.menu article {
	height: 10vh;
	color: white;
	background-color: grey;
	
}
.menu__produits {
	display: flex;
	flex-direction: column;
	width: 100vw;
}
.menu__produits h2 {
	padding: 20px;
	background-color: $white;
	color: $black;
	text-decoration: underline;

    font-size: 4vh;
	text-align: center;
}
.menu__produits__photos {
	display: flex;
	flex-wrap: wrap;
}
.menu__produits img{
	width: 50%;
    height: 20%;
}













