include ../partials/header.pug
<style type="text/css">.header{display:none;}</style>
<body>
    <section class="home">
        <div class="home__title">
            <h1>AIR MAX 2017</h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/1280px-Logo_NIKE.svg.png">
        </div>
        
        <div class="media">
            <img class="" src="./img/AirMaxAccueil.gif">
            <iframe  src="https://www.youtube-nocookie.com/embed/zGrYiMaAlJs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="home__next">
            <h1>Venez vite la découvrir !</h1>
            <a href="./nike.html"><img src="./img/scroll_down.png"></a>
        </div>

        

    </section>
</body>
</html>
