<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>
<body>
	<section class="accueil">
		<div class="accueil__title">
			<h1>AIR MAX </h1>
			<div class="accueil__logo">
				<div>2017</div>
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/1280px-Logo_NIKE.svg.png">
			</div>
		</div>
		<img class="accueil__img" src="./img/AirMaxAccueil.gif">
		<div class="accueil__scroll">
			<h1>Venez vite la découvrir !</h1>
		</div>
	</section>

	<section class="menu">
		<header class="menu__header">
			<div class="menu__header__logo" >
				<a href=""><img src="img/logo_nike.png"></a></div>
			<p>Nike</p>
			<div class="menu__header__icon">
				<img src="img/icon_bag.png">
				<img src="img/icon_search.png">
			</div>
		</header>
		<div class="menu__photo">
			<p>L'amorti Max Air emblématique offre une sensation de douceur en toute légèreté à chaque pas, que vous couriez quelques kilomètres ou toute la journée. </p>
			<a href="">Acheter <img src="img/icon_fleche.png"></a>
		</div>
		<article class="menu__article">Ergo ego senator inimicus, si ita vultis, homini, amicus esse, sicut semper fui, rei publicae debeo. Quid? si ipsas inimicitias, depono rei publicae causa, quis me tandem iure reprehendet, praesertim cum ego omnium meorum consiliorum atque factorum exempla semper ex summorum hominum consiliis atque factis mihi censuerim petenda.</article>
		<div class="menu__produits">
			<h2>Un large choix de couleur</h2>
			<div class="menu__produits__photos">
				<img src="img/shoes1.png">
				<img src="img/shoes2.png">
				<img src="img/shoes3.png">
				<img src="img/shoes4.png">	
			</div>
		</div>
		<footer class="menu__footer">Post quorum necem nihilo lenius ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est, excedamus.</footer>
	</section>
</body>
</html>







