include ../partials/header.pug
<style type="text/css">.header__mobile, .header__desktop{display:none;}</style>
<body>
    <section class="home">
        <div class="home__title">
            <h1>AIR MAX 2017</h1>
            <img src="../img/logo_nike.png">
        </div>
        
        <div class="media">
            <img class="" src="./img/AirMaxAccueil.gif" srcset="./img/AirMaxAccueil_320.gif 320w, ./img/AirMaxAccueil_500.gif 500w">
            <iframe  src="https://www.youtube-nocookie.com/embed/zGrYiMaAlJs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="home__next">
            <h1>Venez vite la découvrir !</h1>
            <a href="./nike.html"><img src="./img/scroll_down.png"></a>
        </div>

        

    </section>
</body>
</html>
