include ../partials/header.pug

<section id="menu" class="menu">
    <section class="menu__one">
        <div class="menu__photo">
            <p>L'amorti Max Air emblématique offre une sensation de douceur en toute légèreté à chaque pas, que vous couriez quelques kilomètres ou toute la journée. </p>
            <a href="">Acheter <img src="img/icon_fleche.png"></a>
            <a href="./performances.html">Découvrir <img src="img/icon_fleche.png"></a>
        </div>
        <article class="menu__article">
            <h1>Air Max 2017</h1>
            <div class="menu__info">
                <p>Son amorti emblématique offre une sensation de douceur en toute légèreté à chaque pas, que vous couriez quelques kilomètres ou toute la journée. </p>
                <p>La chaussure de running intègre une empeigne en mesh respirante et un amorti doux pour un confort exceptionnel à l'entraînement comme sur le terrain de jeu.</p>
            </div>
        </article>
        
    </section>
    
    
    <div class="menu__produits">
        <h2>Un large choix de couleur</h2>
        <div class="menu__photos">
            <img src="img/shoes1.png">
            <img src="img/shoes2.png">
            <img src="img/shoes3.png">
            <img src="img/shoes4.png">	
        </div>
    </div>
    <div class="menu__parallax">
    </div>
    <article class="menu__article">
        <p>Que vous parcouriez 10km ou que vous couriez après le bus, il existe une paire de Nike qui vous correspond parfaitement.</p>
        <a href="https://store.nike.com/fr/fr_fr/pw/air/827?intpromo=HP-DUAL%3AP5%3A20180312%3AMNSXCAT%3ASHOPNOW">Découvrir les autres modèles >> </a>
    </article>
    <img class="menu__app" src="img/running_app.jpg">
</section>

include ../partials/footer.pug
