<footer class="footer">
    <p>© 2018 Nike, Inc. Tous droits réservés</p>
    <div>
        <a href="https://nike.com">Site Nike Officiel</a>
        <a href="https://agreementservice.svs.nike.com/fr/fr_fr/rest/agreement?agreementType=termsOfUse&uxId=com.nike&country=FR&language=fr&requestType=redirect">Conditions Générales</a>
    </div>
    <p>Site fictif - Siloé RABADAN</p>
</footer>