<!DOCTYPE html>
<html>
<head>
	<title>Nike - Air Max 2017</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link rel="icon" href="./img/logo_nike.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<header class="header">
	<div class="header__logo" >
		<a href="./nike.html"><img src="img/logo_nike.png"></a></div>
	<p>Nike</p>
	<div class="header__icon">
		<img src="img/icon_bag.png">
		<img src="img/icon_search.png">
	</div>
</header>

