@import './reset.scss';
@import './colors.scss';



p,a,h1,h2,h3,h4,article{
	color:$black;
	font-family: 'Dosis', sans-serif;
	font-size: 2rem;
}
section {
	display: flex;

	flex-direction: column;
	justify-content: space-between;

	height:100vh;
	width: 100vw;

}


@import './blocs/header.scss';
@import './blocs/footer.scss';
@import './blocs/accueil.scss';
@import './blocs/menu.scss';